@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.hero {
  padding-top: clamp(16px, vw(80), 80px);

  * {
    z-index: 1;
    color: var(--color-white);
    position: relative;
  }

  &__inner {
    position: relative;
    display: flex;
    padding: 0 16px 0 clamp(16px, vw(80), 80px);
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--radius-big);
    min-height: 584px;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.66) 0.56%, rgba(0, 0, 0, 0.32) 79.06%, rgba(0, 0, 0, 0) 100%);
    }
  }

  h1 {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: clamp(25px, vw(72), 72px);
    font-size: 24px;
  }

  @include media(tablet) {
    padding: 0;

    &__inner {
      min-height: 442px;
    }
  }

  @include media(mobile-m) {
    margin: 0 -16px;

    &__inner {
      border-radius: 0;
    }

    .btn {
      max-width: none;
    }

    br {
      display: none;
    }
  }
}
