@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.request {
  $root: &;

  h2 {
    margin: 0 auto 40px;
    font-weight: var(--fw-600);
    font-size: clamp(32px, 2rem + 1vi, 40px);
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }
}
