@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.contact {
  h2 {
    margin: 0 auto 40px;
    font-weight: var(--fw-600);
    text-align: center;
    font-size: clamp(32px, 2rem + 1vi, 40px);
  }
}
