@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-white);
  transition-property: transform, padding;
  transition-duration: 0.15s;

  &__inner {
    padding: clamp(12px, vw(24), 24px) 16px;
  }

  &.hide {
    transform: translateY(-100%);
  }
}

.header-adv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--color-gray-300);

  a {
    display: block;
    margin-left: auto;
    width: fit-content;
  }
}
