@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.single {
 
  h1 {
    margin-bottom: 24px;

    & + p {
      margin-bottom: 2rem;
    }
  }

  &__list {
    display: grid;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    gap: 20px;

    h2 {
      margin-bottom: 16px;
      font-size: clamp(25px, 1.375rem + 0.9375vi, 40px);
      line-height: 1.3;
    }

    &--clean {
      display: block;

      // h2 {
      //   max-width: 500px;
      // }
    }

    @include media(mobile-l) {
      grid-template-columns: 1fr;
      column-gap: 0;
    
        br {
          display: none;
        }
    }
  }

  &__content {
    border-radius: var(--radius-big);
    padding: 2rem;
    background-color: var(--color-white);
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big);

    img {
      width: 100%;
      height: 100%;
    }
  }
}
