@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.about {
  h2 {
    margin: 0 auto 2rem;
  }

  @include media(mobile-m) {
    margin: 0 -16px;

    .content {
      border-radius: 0;
    }
  }
}
