/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --content-width: 1180px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Rubik", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-gray-100: #f6f6f6;
  --color-gray-300: #ebebeb;
  --color-gray-800: #545454;
  --color-gray-900: #444;
  --color-orange: #e26d00;

  //  radius
  --radius-main: 12px;
  // --radius-big: calc((var(--radius-main) + 4px) * 2);
  --radius-big: 1.6em;
}
